    <nav class="site-nav">
        <div><a class="brand" href="/"><img class="brand-logo" src="/assets/img/Ares9323.svg" alt="">Ares9323</a></div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about/index.html">About</a>
            <!-- <a href="/#ue-plugins">UE Plugins</a> -->
            <!-- <a href="/#android-apps">Android Apps</a> -->
            <!-- <a href="/#open-source-projects">Open Source Projects</a> -->
            <a href="/games/index.html">Games &amp; Awards</a>
            <a href="/cv/index.html">CV</a>
        </div>
    </nav>
